<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{})}">
<head>
    <title data-th-text="${loggedInUser.name} +' SCM'">Add Contact</title>
</head>
<body>
    <div id="content">

        <!-- if user is loggedIn : sidebar -->
        <div data-th-if="${loggedInUser}">
            <div data-th-replace="~{user/sidebar :: sidebar}"></div>
        </div>
 
        <div class="sm:pl-64 pt-20">
            <div class="grid grid-cols-12">
                <div class="col-span-2"></div>
                <div class="col-span-12 md:col-span-8">
                    <!-- card -->
                    <div class="bg-gray-50 dark:bg-gray-700 block p-6 border-t-[10px] border-blue-700 rounded-xl shadow-xs hover:bg-gray-200 dark:hover:bg-gray-600">
                        <!-- show alert message -->
                        <div data-th-replace="~{message::messagebox}"></div>

                        <h1 class="text-3xl font-semibold">Add New Contact</h1>
                        <p class="text-gray-500 mb-3">This contact will be stored on cloud. You can direct email this Contact from SCM...</p>

                        <!-- form -->
                        <form data-th-action="@{'/user/contacts/add'}" method="post" data-th-object="${contactForm}" enctype="multipart/form-data">
                            <!-- name field -->
                            <div class="mb-3">
                                <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Contact Name</label>
                                <input data-th-field="*{name}" type="text" id="name" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="Enter contact name" required />
                                <!-- show errors -->
                                <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" class="text-red-500 py-2 px-1"></p>
                            </div>

                            <!-- email field -->
                            <div class="mb-3">
                                <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Contact email</label>
                                <input data-th-field="*{email}" type="email" id="email" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="example@email.com" required />
                                <!-- show errors -->
                                <p data-th-if="${#fields.hasErrors('email')}" data-th-errors="*{email}" class="text-red-500 py-2 px-1"></p>
                            </div>

                            <!-- phone field -->
                            <div class="mb-3">
                                <label for="phoneNumber" class="block mb-2.5 text-sm font-medium text-heading">Contact Number</label>
                                <input data-th-field="*{phoneNumber}" type="text" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" required />
                                <!-- show errors -->
                                <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-500 py-2 px-1"></p>
                            </div>

                            <!-- address textarea field -->
                            <div class="mb-3">
                                <label for="address" class="block mb-2.5 text-sm font-medium text-heading">Contact Address</label>
                                <textarea data-th-field="*{address}" id="address" rows="6" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="Write address here..."></textarea>
                                <!-- show errors -->
                                <p data-th-if="${#fields.hasErrors('address')}" data-th-errors="*{about}" class="text-red-500 py-2 px-1"></p>
                            </div>

                            <!-- description textarea field -->
                            <div class="mb-3">
                                <label for="description" class="block mb-2.5 text-sm font-medium text-heading">Contact Description</label>
                                <textarea data-th-field="*{description}" rows="6" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full p-3.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="Write description here..."></textarea>
                                <!-- show errors -->
                                <!-- <p data-th-if="${#fields.hasErrors('about')}" data-th-errors="*{about}" class="text-red-500 py-2 px-1"></p> -->
                            </div>

                            <!-- social links -->
                            <div class="flex space-x-3">
                                <div class="w-full">
                                    <div class="mb-3">
                                        <label for="websiteLink" class="block mb-2.5 text-sm font-medium text-heading">Website Link</label>
                                        <input data-th-field="*{websiteLink}" type="text" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="Social Link" required />
                                        <!-- show errors -->
                                        <!-- <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-500 py-2 px-1"></p> -->
                                    </div>
                                </div>
                                <div class="w-full">
                                    <div class="mb-3">
                                        <label for="linkedInLink" class="block mb-2.5 text-sm font-medium text-heading">LinkedIn Link</label>
                                        <input data-th-field="*{linkedInLink}" type="text" class="bg-gray-50 border border-default-medium text-heading text-sm rounded-lg focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body dark:bg-gray-800 dark:text-white" placeholder="Social Link" required />
                                        <!-- show errors -->
                                        <!-- <p data-th-if="${#fields.hasErrors('phoneNumber')}" data-th-errors="*{phoneNumber}" class="text-red-500 py-2 px-1"></p> -->
                                    </div>
                                </div>
                            </div>

                            <!-- file field from flowbite for picture -->
                            <div class="mb-3">
                                <label class="block mb-2.5 text-sm font-medium text-heading" for="file_input">Upload file</label>
                                <input data-th-field="*{contactImage}" id="image_input" class="cursor-pointer bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full shadow-xs placeholder:text-body" id="file_input" type="file">
                                <img src="image_preview" alt="" class="max-h-52 mx-auto rounded-lg shadow" />
                            </div>
                            <!-- check box for faovrite from flowbite -->
                            <div class="flex items-center mb-3">
                                <input data-th-field="*{favorite}" type="checkbox" class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft">
                                <label for="faovrite" class="select-none ms-2 text-sm font-medium text-heading">Favorite Contact? </label>
                            </div>
        
                            <!-- buttons -->
                            <div class="mb-3 flex justify-center space-x-3">
                                <!-- signup button -->
                                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">SignUp</button>
                                <!-- reset button -->
                                <button type="reset" class="text-orange-500 bg-neutral-primary border border-orange-500 hover:bg-orange-500 hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-lg text-sm px-4 py-2.5 focus:outline-none">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script data-th-src="@{'/js/showImage.js'}"></script>
</body>
</html>